* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  display: flex;
  color: #FFFFFF;
  /* background-color: blue; */
}

img {
  max-width: 100%;
}

.logo{
  /* background-color: blue; */
  width: 97px;
  height: 55px;
}

li{
  height: 55px;
  width: 100px;

  margin-top: 20px;
  margin-left: 100px; ;
}

header{
  display: flex;
  background-color: blue;
}

.contact{
  background-color: #FFFFFF;
  width: 80px;
  height: 30px;
  color: black;
}



